version: '3.8'

services:
  app:
    build: .
    container_name: test_webhook_app
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - /app/.venv
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: test_webhook_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
